.sign-page {
  p {
    margin: 1em;
    font-stretch: condensed;
  }

  .title {
    margin: 1em;
  }

  .about {
    white-space: pre-line;
  }

  .sign {
    margin: 2em auto;
  }

  .info {
    font-weight: 600;
  }

  .deviz {
    font-weight: 500;
  }
}
