.year-page .moon-grid .day-cell .num {
  display: none; }

.year-page .plasma-cell {
  display: none; }

.year-page .moon-grid {
  grid-gap: 3px;
  margin: 7px; }

.year-page .moon-grid .day-cell {
  margin: 0px;
  padding: 0px;
  border: none;
  border-radius: 1px; }

.year-page .moon-grid .day-cell .kin {
  margin: 0px;
  width: 100%; }
