.zolkin-page {}

.zolkin-grid-container {
  display: grid;
  grid-template-columns: repeat(20, 1.9em);
  grid-template-rows: repeat(20, auto);
  grid-gap: 1px;
  grid-auto-rows: minmax(100px, auto); // justify-items: center;
  // align-items: center;
}

.kin-cell {
  border-radius: 1px;
  position: relative;
  .sign {
    display: flex;
    opacity: 0.2;
    img {
      height: 3em;
      margin: auto;
      height: auto;
      max-height: 100%;
      width: auto;
      max-width: 100%;
      border-radius: 3px;
    }
  }
  .sign-tone {
    position: absolute;
    height: 45%;
    margin: auto;
    top: 3px;
    opacity: 0.7;
    img {
      width: 73%;
      margin: auto;
      height: auto;
      max-height: 100%;
      width: auto;
      max-width: 100%;
      border-radius: 1px;
    }

    
  }

  &.selected {
    // box-shadow: 1px 0px 10px 7px inherit;
    z-index: 2;
    &.chromatic1 {
      background-color: red;
      box-shadow: 1px 0px 10px 7px red;
    }
    
    &.chromatic2 {
      background-color: white;
      box-shadow: 1px 0px 10px 7px white;
    }
    
    &.chromatic3 {
      background-color: blue;
      box-shadow: 1px 0px 10px 7px blue;
    }
    
    &.chromatic4 {
      background-color: yellow;
      box-shadow: 1px 0px 10px 7px yellow;
    }

    .sign-tone {
      top: -19px;      
      opacity: 0.9;
    }

    .sign{
      opacity: 0.9;
    }
  }
}



