.sign img {
  display: flex;
  padding: 0;
  margin: 0 auto;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  border-radius: 9px;
}

.sign-tone img {
  display: flex;
  margin: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: 3px;
}

.plasma {
  height: 50%;
}

.plasma img {
  display: flex;
  margin: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}
