.top-header {
  padding: 3px; }

.menu {
  padding: 10px;
  li {
    margin-left: 10px;
    display: inline-block;
  }
}


.top-header{
  .left-menu {
    float: left;
  }

  .right-menu {
    float: right;
  }
}