.top-header {
  padding: 3px; }

.menu {
  padding: 10px; }
  .menu li {
    margin-left: 10px;
    display: inline-block; }

.top-header .left-menu {
  float: left; }

.top-header .right-menu {
  float: right; }
