body {
  background: #fff;
  color: #3f3f3f;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-weight: 400;
}

.left-menu {
  /* fix to adusj with ktoty.info */
  margin-left: -13px;
}

a {
  color: #3f3f3f;
  font-family: "Montserrat", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
}

.menu {
  padding: 0px;
}

.screen {
}

.sign-tone {
  opacity: 0.7;
}

.year-page .sign img {
  border-radius: 3px;
}
