.moon-page {
  // border: 1px solid #ccc;

  .moon-grid {
    .moon-cell {
      border: white 1px solid;
      border-radius: 7px;
    }

    .plasma-cell {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
