.time-logo {
  height: 20px;
}

.huge {
  font-size: 75px;
  font-weight: 100;
}

.spinner {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  // background: url(./img/ajax-loader.gif);
  background-size: 100%;
}

.rotating {
  animation: rotating-spin infinite 20s linear;
}

@keyframes rotating-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.vertical_pulsate {
  animation: vertical_pulsate 3s infinite;
}

@keyframes vertical_pulsate {
  0% {
    transform: translate(-50%, 0px);
  }

  80% {
    transform: translate(-50%, 0px);
  }

  85% {
    transform: translate(-50%, 10px);
  }

  90% {
    transform: translate(-50%, 0px);
  }

  95% {
    transform: translate(-50%, 10px);
  }

  100% {
    transform: translate(-50%, 0px);
  }
}
